// CommonSetting START
html {
    font-size: 125%;
}
  
.pokemonStyleBorder {
  border-radius: 10px;
  border: 2px solid #5ED0FF;
  box-shadow: 0 0 0 2px #4192b3;
  background-color: white;
}


  // CommonSetting END