//GetPokemonData START
//Pokemon Showing up animation
.hidePokemon {
    filter: brightness(0);
  }
  
  .showPokemon {
    cursor: pointer;
    filter: brightness(100%);
    animation: showPokemon 2s;
  }
  
  @keyframes showPokemon {
    0% {filter: brightness(0);}
    20% {filter: brightness(20%); transform:translate(0, -10%)}
    25% {filter: brightness(25%); transform:translate(0, 0)}
    80% {filter: brightness(80%); transform: rotate(0);}
    84% {filter: brightness(84%); transform: rotate(-3deg);}
    88% {filter: brightness(88%); transform: rotate(6deg);}
    92% {filter: brightness(92%); transform: rotate(-6deg);}
    96% {filter: brightness(96%); transform: rotate(6deg);}
    100% {filter: brightness(100%); transform: rotate(-3deg);}
  }
  
  .playPokemon {
    cursor: pointer;
    animation: playPokemon 1.5s infinite;
  }
  
  @keyframes playPokemon {
    0% {transform:translate(0, 0)}
    12% {transform:translate(-5%, -5%)}
    25% {transform:translate(-10%, 0%)}
    37% {transform:translate(-5%, -5%)}
    50% {transform:translate(0, 0)}
    62% {transform:translate(5%, -5%)}
    75% {transform:translate(10%, 0)}
    87% {transform:translate(5%, -5%)}
    100% {transform:translate(0, 0)}
  }
  
  .wildPokemonImgContainer {
    position:absolute;
    top:30vh;
    right: 20vw;
    .wildPokemonImg {
      height: 40vh;
    }
  }

  .catchPokemon {
    filter: brightness(1000%);
    transform: scale(0);
    animation-duration: 5s;
    animation-name: catchingPokemon;
    animation-timing-function: linear;  
  }

  @keyframes catchingPokemon {
    0%  {transform: scale(1); filter: brightness(100%);}
    41% {transform: scale(1); filter: brightness(100%);}
    60% {transform: scale(0); filter: brightness(1000%);}
    100% {transform: scale(0); filter: brightness(1000%);}
  }


  //GetPokemonData END

  @media (max-width: 1024px) {
    .wildPokemonImgContainer {
      position:absolute;
      top:30vh;
      right: 5vw;
      .wildPokemonImg {
        height: 30vh;
      }
    }
  }