//Pokedex START
.pokedexContainer {
    width: 30vw;
    position:absolute;
    bottom: 25vh;
    left:35vw;
    z-index: 2;
  
    .pokedexSubContainer {
      position: relative;
      font-family: 'Press Start 2P', cursive;
  
      .pokedexDecoration {
        position:absolute;
        width: 80px;
        top: 20px;
        right: 40px;
      }
    
      .pokemonBallDecoration {
        width: 30px;
        position:absolute;
        border-radius: 10px;
      }
  
      .pokemonBallDecoration1 {
        top:0;
        left:0;
      }
  
      .pokemonBallDecoration2 {
        top:0;
        right:0;
      }
  
      .pokemonBallDecoration3 {
        bottom:0;
        left:0;
      }
  
      .pokemonBallDecoration4 {
        bottom:0;
        right:0;
      }
  
      .podexTittle {
        display:flex;
        justify-content: center;
        align-items: flex-end;
      }
  
      p {
        font-size: 1rem;
        text-align: start;
        margin: 0;
        padding: 10px 50px;
      }
    }
  }

.podexTittle {
    img {
    width: 150px;
  }

  h2 {
    font-size: 1.2rem;
    margin: 1vh 3vw;
    color: #4192b3;
  }
}

.podexText {
  padding-bottom: 30px;
}
//Pokedex END

@media (max-width:1440px) {
  .pokedexContainer {
    width: 36vw;
    left: 32vw;
  }
}

@media (max-width:1024px) {
.pokedexContainer {
    width: 50vw;
    left: 32vw;
  }
}

@media (max-width: 820px) {
.pokedexContainer {
    width: 60vw;
    bottom: 30vh;

    h2 {
      font-size:1rem;
    }

    .pokedexSubContainer {
      p {
        font-size:0.8rem;
        padding: 10px 30px;
      }
    }
  }
}

@media (max-width: 600px) {
  .pokedexContainer {
    h2 {
      font-size:0.8rem;
    }

    .pokedexSubContainer {
      p {
        font-size:0.6rem;
        padding: 10px 10px;
      }
    }
  }
}

@media (max-width:428px) {
  .pokedexContainer {
   left: 35vw;

   .pokedexSubContainer {
      .pokedexDecoration {
        top: 5px;
      }
    
      .pokemonBallDecoration {
        width: 20px;
      }
    }
  }
}

@media (max-width: 414px) {
  .pokedexContainer {
    bottom: 38vh;
  }
}

@media (max-width: 375px) {
  .pokedexContainer {
    bottom: 35vh;

    .pokedexSubContainer {
      .pokedexDecoration {
        position:absolute;
        width: 30px;
      }
      
      .podexTittle {
        img {
          width: 50px;
        }
        
        h2 {
          font-size: 0.5rem;
        }
      }

      p {
        font-size:0.5rem;
        padding: 10px 10px;
      }
    }
  }
}

@media (max-width: 320px) {
  .pokedexContainer {
    bottom: 42vh;
    .pokedexSubContainer {
      .pokedexDecoration {
        width: 0;
      }
    }
  }
}