//AnserTheName START
.guessNameInput {
    position: absolute;
    bottom: 15vh;
    left: 37vw;
    width: 26vw;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    padding: 30px 20px;
    z-index: 1;
  
    button {
      margin: 2vh 0 0 1vw;
      font-family: 'Press Start 2P', cursive;
      cursor: pointer;
      border:none;
      background-color: white;
      font-size: 1rem;

      &:hover::before {
        content: "";
        background-image: url(./imgs/trianglePointer.png);
        background-repeat: no-repeat;
        display: inline-block;
        background-size: 100%;
        width:20px;
        height:20px;
        margin-right: 5px;
      }

      &:active {
        color:#4192b3;
      }
    }
  
    input {
      font-size: 1rem;
      font-family: 'Play', sans-serif;
      border-radius: 10px;
      text-align: center;
    }
  }
  
  .pokemonNamePrompt {
    cursor: pointer;
    position: absolute;
    width: 30vw;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    text-align: start;
    font-weight: bolder;
    padding: 25px 20px;
    bottom: 25vh;
    left: 35vw;
    z-index: 1;

    &:active {
      transform: scale(0.8);
    }
  
    p {
      margin: 0;
      
      span{
        color:#4192b3;
      }
    }
  }
  //AnserTheName END