//Header START
.header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 800px;
    position: absolute;
    top: 0;
    left: calc(50vw - 400px);
    
    .headerSubContainer {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 2px solid white;
        background-color: rgba(94, 208, 255,0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2vh;

        .headerSubSubContainer {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width: 600px;
            padding: 0 20px;
        }
    }

}

.headerSubContainer {
    img {
        width: 600px;
    }

    audio {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: 2vh;
        width: 100px;
    }
}

.headerDisappear {
    top : -167.5px;
    animation: headerDisappear 1s ease-out;
}

@keyframes headerDisappear {
    0% {top : 0}
    30% {top : 20px}
    100% {top : -167.5px}
}
//Header END