//OperationBar START
.operatingBar {
    position:absolute;
    width: 30vw;
    bottom:1vh;
    left:35vw;
    z-index: 1;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  
      button{
        font-family: 'Press Start 2P', cursive;
        font-size: 1.2rem;
        font-weight: bolder;
        border:none;
        padding: 30px 0;
        background-color: white;
        cursor: pointer;

        &:hover::before {
          content: "";
          background-image: url(./imgs/trianglePointer.png);
          background-repeat: no-repeat;
          display: inline-block;
          background-size: 100%;
          width:20px;
          height:20px;
          margin-right: 5px;
        }
  
        &:active {
          color:#4192b3;
        }
      }
  
  }
  //OperationBar END

  @media (max-width:1440px) {
    .operatingBar {
      width: 36vw;
      left:32vw;
    }
  }