//OperationBar START
.operatingBar {
    position:absolute;
    width: 30vw;
    bottom:1vh;
    left:35vw;
    z-index: 1;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  
      button{
        font-family: 'Press Start 2P', cursive;
        font-size: 1.2rem;
        font-weight: bolder;
        border:none;
        padding: 30px 0;
        background-color: white;
        cursor: pointer;

        &:hover::before {
          content: "";
          background-image: url(./imgs/trianglePointer.png);
          background-repeat: no-repeat;
          display: inline-block;
          background-size: 100%;
          width:20px;
          height:20px;
          margin-right: 5px;
        }
  
        &:active {
          color:#4192b3;
        }
      }
  
  }
  //OperationBar END

@media (max-width:1440px) {
  .operatingBar {
    width: 36vw;
    left:32vw;
  }
}

@media (max-width: 1024px) {
  .operatingBar {
    width: 50vw;
    bottom:10vh;
  }
}

@media (max-width: 1024px) {
  .operatingBar {
    width: 60vw;
  }
}

@media (max-width: 600px) {
  .operatingBar {
    button{
      font-size: 0.9rem;

      &:hover::before {
        width:15px;
        height:15px;
      }
    }
  }
}

@media (max-width: 428px) {
  .operatingBar {
    left: 35vw;
    width: 60vw;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;

    button{
      padding: 10px 0;
    }
  }
}

@media (max-width: 375px) {
  .operatingBar {
    button{
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 320px) {
  .operatingBar {
    bottom: 13vh;
  }
}