.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.hidePokemon {
  filter: brightness(0);
}

.showPokemon {
  filter: brightness(100%);
  animation-duration: 2s;
  animation-name: showPokemon;
}

@keyframes showPokemon {
  0% {filter: brightness(0);}
  20% {filter: brightness(20%); transform:translate(0, -10%)}
  25% {filter: brightness(25%); transform:translate(0, 0)}
  69% {filter: brightness(69%); transform: rotate(0);}
  70% {filter: brightness(70%); transform: rotate(-5deg);}
  75% {filter: brightness(75%); transform: rotate(10deg);}
  80% {filter: brightness(80%); transform: rotate(-10deg);}
  95% {filter: brightness(95%); transform: rotate(10deg);}
 100% {filter: brightness(100%); transform: rotate(-5deg);}
}