@import "normalize";
@import "commonSettings";
@import "answerTheName";
@import "getPokemonData";
@import "operationBar";
@import "pokedex";
@import "header";
@import "footer";
@import "catchingSystem";
@import 'pokemonList';

//App START
.App {
  background-image: url(./imgs/backgroundWilderness.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  max-width: 1920px;
  max-height: 1028px;
  position: relative;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.userNameInputForm {
  position: absolute;
    bottom: 40vh;
    left: 37vw;
    width: 26vw;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.3rem;
    padding: 30px 20px;
    z-index: 1;
  
    button {
      margin: 2vh 0 0 1vw;
      font-family: 'Press Start 2P', cursive;
      cursor: pointer;
      border:none;
      background-color: white;
      font-size: 1rem;

      &:hover::before {
        content: "";
        background-image: url(./imgs/trianglePointer.png);
        background-repeat: no-repeat;
        display: inline-block;
        background-size: 100%;
        width:20px;
        height:20px;
        margin-right: 5px;
      }

      &:active {
        color:#4192b3;
      }
    }
  
    input {
      font-size: 1rem;
      font-family: 'Play', sans-serif;
      border-radius: 10px;
      text-align: center;
    }
}
.openingButton {
  cursor: pointer;
  position: absolute;
  top: 50vh;
  left: 35vw;
  font-size: 1.5rem;
  font-family: 'Press Start 2P', cursive;
  padding: 20px 30px;
  width: 30vw;
  z-index: 1;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    color:#356abc;
  }
}

.heroBack {
  position: absolute;
  left: 5vw;
  bottom: 0;
  z-index: 0;
}

.stopMusicButton {
  position:absolute;
  bottom:15vh;
  left: 25vw;
  font-size: 1.5rem;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    color:#356abc;
  }
}

.stopButtonHide {
  display:none;
}
//App END